@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,500;8..144,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

.grid-container{
    display: grid;
    grid-template-areas:
        "menu"
        "header"
        "main"
        "section"
        "footer";
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    height: 100;
    background-color: #d3d3d3;
}
    
header{
    font-size: 15px;
    grid-area: header;
    background-color: rgb(184, 184, 184);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
 }
header select{
    width: 70vw;
    height: 30px;
}

menu{ 
    grid-area: menu;
    background-color: #d3d3d3;
    background-color: #0091ea;

}
menu .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 8px;
}
menu ul{
    display: none;
    list-style: none;
}
menu a{
    text-decoration: none;
    color: black;
}
menu a strong{
    font-size: 25px;
    font-weight: 500;
}
menu a span{
    opacity: 0.3;
}
main{
    
    grid-area: main;
    background-color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    /* overflow-y: scroll; */
}
main .card:hover{
    border: 1px solid #f1c40f;
}



.card{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    align-content: center; 
    height: 380px;
    margin: auto;
  }
.card-img {
    height: 80%;
    background-size: cover;
    background-position: center;
  }
.card-img .lupa{
    color: gray;
    display: flex;
    justify-content: end;
    margin-top: 5px;
    margin-right: 5px;
}
.card-img .puntos{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
    background-color: white;
}
.card-text h6{
    margin-bottom: 5px;
    opacity: 0.5;
}
.card-text h4{
    margin-bottom: 5px;
    font-weight: 700;
    opacity: 0.5;
}
.card-text h3{
    font-weight: 500;
}
.card-text h5 i{
    color: orange;
}
.card-footer button{
    width: 100%;
    height: 25px;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #0091ea;
    color: white;
    font-weight: 700;
}
section{
    background-color: white;
}
section .card-pag {
    
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .card-pag a {
    color: rgb(24, 24, 214);
    padding: 7px;
    border: 1px solid rgb(157, 157, 172);
    text-decoration: none;
}
footer{
    grid-area: footer;
    background-color: #0091ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
footer h4{
    font-size: 20px;
    color: white;
    font-weight: 300;
    opacity: 0.3;
}
footer i{
    color: white;
    opacity: 0.3;
}
.no-display-mobile{
    display: none;
}



.card:nth-child(1) .card-img{   background-image: url(/assets/img/camara.jpeg);  }
.card:nth-child(2) .card-img{   background-image: url(/assets/img/clu.avif);  }
.card:nth-child(3) .card-img{   background-image: url(/assets/img/audi.avif);  }
.card:nth-child(4) .card-img{   background-image: url(/assets/img/aceite.avif)  }
.card:nth-child(5) .card-img{   background-image: url(/assets/img/perfum.avif);  }
.card:nth-child(6) .card-img{   background-image: url(/assets/img/broch.avif);  }

/* Media queries */

@media (min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas:
        "menu header"
        "menu main"
        "footer main"
        "footer section";
        grid-template-rows: 1fr 3fr;
        gap: 10px; 
        grid-template-columns: 20% auto ;
        grid-template-rows: 1fr 10fr 1fr;
        height: 100%;
        background-color: white;
  }
    
    header{
        font-size: 25px;
        grid-area: header;
        background-color: rgb(184, 184, 184);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header h2{
        font-weight: 500;
    }
    .search{
        margin-right: 30%;
    }
    .menuh{
        margin-left: 30%;
    }
    
    menu{
        color: white;
        grid-area: menu;
        background-color: #0091ea;
        display: flex;
        justify-content: center;
        
    }
    menu div{
        display: none;
    }
    menu ul{
        display: block;
        list-style: none;
    }
    
    menu a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
    }
    menu a strong{
        color: white;
        font-size: 25px;
        font-weight: 500;
    }
    menu li a span{
        opacity: 0%;
    }
    
    main{
    
        grid-area: main;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr; 
        
    
    }
    main .card:hover{
        border: 1px solid #f1c40f;
    }
    

    .card{
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        align-content: center; 
        margin: 0px;
      }
    
    .card-img {
        height: 80%;
        background-size: cover;
        background-position: center;
      }
    .card-img .lupa{
        color: gray;
        display: flex;
        justify-content: end;
        margin-top: 5px;
        margin-right: 5px;
    }
    .card-img .puntos{
        display: flex;
        justify-content: center;
        color: black;
        align-items: center;
    }
    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 10vh; */
        background-color: white;
    }
    .card-text h6{
        margin-bottom: 5px;
        opacity: 0.5;
    }
    .card-text h4{
        margin-bottom: 5px;
        font-weight: 700;
        opacity: 0.5;
    }
    .card-text h3{
        font-weight: 500;
    }
    .card-text h5 i{
        color: orange;
    }
    .card-footer button{
        width: 100%;
        height: 25px;
        text-decoration: none;
        text-align: center;
        border: none;
        background-color: #0091ea;
        color: white;
        font-weight: 700;
    }
   

    footer{
        grid-area: footer;
        background-color: #0d6da8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer h3{
        font-size: 20px;
        color: white;
        font-weight: 300;
        opacity: 0.3;
    }
    section .card-pag {
        grid-area: section;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    section .card-pag a {
        color: rgb(24, 24, 214);
        padding: 7px;
        border: 1px solid rgb(157, 157, 172);
        text-decoration: none;
        
    }
}

